<div style="text-align:center">
    <div class="bg-light">
      <h1>
        Welcome to {{ title }} {{ profile.firstNameEn }}
      </h1>
      <img src="\assets\image\IMG_3499.jpg" name="aboutme" class="widthimage">
      <h3 class="media-heading"> {{ nameEn }} <small></small></h3>
      <h4>
        <span><strong>ชื่อ: </strong></span>
        <span class="label label-warning">{{ nameTh }}</span>
      </h4>
  
      <h4>
        <span><strong>ชื่อเล่น: </strong></span>
        <span class="label label-warning">{{ profile.nickName }}</span>
      </h4>
  
      <h4>
        <span><strong>วันเกิด: </strong></span>
        <span class="label label-warning">{{ profile.birthdate }}</span>
      </h4>
  
      <h4>
        <span><strong>ที่อยู่: </strong></span>
        <span class="label label-warning">{{ address }}</span>
      </h4>
  
      <h4>
        <span><strong>Skills-FrontEnd: </strong></span>
        <span class="label label-warning">{{ frontEnd }}</span>
      </h4>
  
      <h4>
        <span><strong>Skills-BackEnd: </strong></span>
        <span class="label label-warning">{{ backEnd }}</span>
      </h4>
  
      <h4>
        <span><strong>Skills-Tools: </strong></span>
        <span class="label label-warning">{{ tools }}</span>
      </h4>
  
      <h4>
        <span><strong> คติ: </strong></span>
        <span class="label label-warning">•พรุ่งนี้..ไม่มีอยู่จริง.</span>&nbsp;
      </h4>
      <br>
    </div>
  </div>