<section class="mobile-detail-page-container">
  <section class="mobile-detail-page content">
      <div [ngClass]="{'fixed-padding': fixed}">
        <div class="customer-info-summary-container">
          <div class="row align-middle header">
            <div class="small-10 columns font-white">
              ข้อมูลลูกค้า
            </div>
          </div>
          <div class="content">
            <div class="customer-infomation-container">
              <div class="row">
                <span class="font-darker-gray small-3 columns">เบอร์โทรศัพท์</span>
                <span class="small-9 columns">{{ customerMobileDetail?.mobileNo | phone }}</span>
              </div>
              <div class="row">
                <span class="font-darker-gray small-3 columns">ระบบ</span>
                <span *ngIf="customerMobileDetail?.chargeType === 'Post-paid'" class="small-9 columns">รายเดือน</span>
                <span *ngIf="customerMobileDetail?.chargeType === 'Pre-paid'" class="small-9 columns">เติมเงิน</span>
              </div>
              <div class="row">
                <span class="font-darker-gray small-3 columns">สถานะเบอร์</span>
                <span class="small-9 columns">{{ customerMobileDetail?.mobileStatus || "-" }}</span>
              </div>
              <div class="row">
                <span class="font-darker-gray small-3 columns">Segment</span>
                <span class="small-9 columns">{{ customerMobileDetail?.mobileSegment || "-" }}</span>
              </div>
              <div class="row">
                <span class="font-darker-gray small-3 columns">อายุการใช้งาน</span>
                <span class="small-9 columns">
                  <span *ngIf="customerMobileDetail?.serviceYear?.year">{{ customerMobileDetail?.serviceYear?.year }} ปี</span>
                  <span *ngIf="customerMobileDetail?.serviceYear?.month || customerMobileDetail?.serviceYear?.day">{{ customerMobileDetail?.serviceYear?.day ? customerMobileDetail?.serviceYear?.month + 1 : customerMobileDetail?.serviceYear?.month }} เดือน</span>
                  <span *ngIf="!customerMobileDetail?.serviceYear?.year && !customerMobileDetail?.serviceYear?.month && !customerMobileDetail?.serviceYear?.day">-</span>
                </span>
              </div>
              <div class="row">
                <span class="font-darker-gray small-3 columns">แพ็กเกจหลัก</span>
                <span class="small-9 columns">{{ customerMobileDetail?.packageTitle }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</section>